
@{
    ViewBag.Title = "AboutUs";
}

<h2>About Us</h2>

<p>
    Holliday Games is an up and coming video game developer best known for their hit 2d platformer, Robot on the Run. Their fans asked for it, so they have released a few details about
    the second story for Robot on the Run! Check back for more information frequently so you don't miss anything!
</p>